{{ define "main" }}
<div class="row justify-content-center pb-5">
    <div class="col-12">
        {{ with .Title }}
        <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
        {{ end }}
        {{ with .Params.description }}
        <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
    </div>
</div>

<main class="post-container content">
    <link rel="stylesheet" href="/libs/tocbot/tocbot.css">
    <link rel="stylesheet" href="/css/toc.css">
    <div class="row">
        <div id="main-content" class="col s12 m12">
            <div id="artDetail">
                <div class="card">
                    <!-- 文章信息 -->
                    <div class="card-content article-info">
                        <!-- 标签 -->
                        <div class="row tag-cate">
                            <div class="col s7 right-align">
                                {{if .Params.tags}}
                                <div class="article-tag">
                                    {{range .Params.tags}}
                                    <a href="/tags/">
                                        <span class="chip bg-color">#{{ . }}</span>
                                    </a>
                                    {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <!-- 阅读信息 -->
                        <div class="post-info">

                            <div class="post-date info-break-policy">
                                <i class="far fa-calendar-minus fa-fw"></i>发布日期:&nbsp;&nbsp;
                                {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
                            </div>
                            <div class="info-break-policy">
                                <i class="far fa-file-word fa-fw"></i>文章字数:&nbsp;&nbsp;{{ .WordCount }}
                            </div>
                            <div class="info-break-policy">
                                <i class="far fa-clock fa-fw"></i>阅读时长:&nbsp;&nbsp;{{ .ReadingTime }} 分
                            </div>

                        </div>
                    </div>
                    <!-- 分割线 -->
                    <hr class="clearfix">
                    <!-- 代码高亮 -->
                    <link rel="stylesheet" href="/libs/prism/prism.css">

                    <!-- 文章内容 -->
                    <div class="card-content article-card-content">
                        <div id="articleContent">
                            {{.Content}}
                        </div>
                        <!-- 作者信息 与 文章分享-->
                        <div class="reprint" id="reprint-statement">
                            <div class="reprint__author">
                                <span class="reprint-meta" style="font-weight: bold;">
                                    <i class="fas fa-user">
                                        文章作者:
                                    </i>
                                </span>
                                <span class="reprint-info">
                                    <a href="/about" rel="external nofollow noreferrer">万物有林</a>
                                </span>
                            </div>
                            <div class="reprint__type">
                                <span class="reprint-meta" style="font-weight: bold;">
                                    <i class="fas fa-link">
                                        文章链接:
                                    </i>
                                </span>
                                <span class="reprint-info">
                                    <a href="">{{ .Permalink }}</a>
                                </span>
                            </div>
                            <div class="reprint__notice">
                                <span class="reprint-meta" style="font-weight: bold;">
                                    <i class="fas fa-copyright">
                                        版权声明:
                                    </i>
                                </span>
                                <span class="reprint-info">
                                    本博客所有文章除特別声明外，均采用
                                    <a href="https://creativecommons.org/licenses/by/4.0/deed.zh"
                                        rel="external nofollow noreferrer" target="_blank">CC BY 4.0</a>
                                    许可协议。转载请注明来源
                                    <a href="/about" target="_blank">万物有林</a>
                                    !
                                </span>
                            </div>
                        </div>
                        <!-- 复制提醒 -->
                        <script async defer>
                            document.addEventListener("copy", function (e) {
                                let toastHTML = '<span>复制成功，请遵循本文的转载规则</span><button class="btn-flat toast-action" onclick="navToReprintStatement()" style="font-size: smaller">查看</a>';
                                M.toast({ html: toastHTML })
                            });

                            function navToReprintStatement() {
                                $("html, body").animate({ scrollTop: $("#reprint-statement").offset().top - 80 }, 800);
                            }
                        </script>
                        <!-- 分享到 -->
                        <div class="tag_share" style="display: block;">
                            <div class="post-meta__tag-list" style="display: inline-block;">
                                {{if .Params.tags}}
                                <div class="article-tag">
                                    {{range .Params.tags}}
                                    <a href="/tags/">
                                        <span class="chip bg-color">#{{ . }}</span>
                                    </a>
                                    {{end}}
                                </div>
                                {{end}}
                            </div>
                            <div class="post_share"
                                style="zoom: 80%; width: fit-content; display: inline-block; float: right; margin: -0.15rem 0;">
                                <link rel="stylesheet" type="text/css" href="/libs/share/css/share.min.css">
                                <div id="article-share">
                                    <div class="social-share" data-sites="wechat"
                                        data-wechat-qrcode-helper="<p>微信扫一扫即可分享！</p>"></div>
                                    <script src="/libs/share/js/social-share.min.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 评论 -->

                <!-- 前后篇 -->
                {{ partial "sections/prevnext.html" . }}
            </div>

            <!-- 代码块功能依赖 -->
            <!--       <script type="text/javascript" src="/libs/codeBlock/codeBlockFuction.js"></script>
 --> <!-- 代码语言 -->
            <!--       <script type="text/javascript" src="/libs/codeBlock/codeLang.js"></script>
 --> <!-- 代码块复制 -->
            <!--       <script type="text/javascript" src="/libs/codeBlock/codeCopy.js"></script>
 --> <!-- 代码块收缩 -->
            <!--       <script type="text/javascript" src="/libs/codeBlock/codeShrink.js"></script>
 -->
        </div>

        <!-- 悬浮目录 -->
        <div id="toc-aside" class="col l3 hide-on-med-and-down">
            <div class="toc-widget card" style="background-color: white;">
                <div class="toc-title"><i class="far fa-list-alt"></i>&nbsp;&nbsp;目录</div>
                <div id="toc-content"></div>
            </div>
        </div>

    </div>

    <!-- TOC 悬浮目录打开关闭按钮 -->
    <div id="floating-toc-btn" class="hide-on-med-and-down">
        <a class="btn-floating btn-large bg-color">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
    <script src="/libs/tocbot/tocbot.min.js"></script>
    <script>
        $(function () {
            tocbot.init({
                tocSelector: '#toc-content',
                contentSelector: '#articleContent',
                headingsOffset: -($(window).height() * 0.4 - 45),
                collapseDepth: Number('0'),
                headingSelector: 'h1, h2, h3, h4'
            });

            // modify the toc link href to support Chinese.
            let i = 0;
            let tocHeading = 'toc-heading-';
            $('#toc-content a').each(function () {
                $(this).attr('href', '#' + tocHeading + (++i));
            });

            // modify the heading title id to support Chinese.
            i = 0;
            $('#articleContent').children('h1, h2, h3, h4').each(function () {
                $(this).attr('id', tocHeading + (++i));
            });

            // Set scroll toc fixed.
            let tocHeight = parseInt($(window).height() * 0.4 - 64);
            let $tocWidget = $('.toc-widget');
            $(window).scroll(function () {
                let scroll = $(window).scrollTop();
                /* add post toc fixed. */
                if (scroll > tocHeight) {
                    $tocWidget.addClass('toc-fixed');
                } else {
                    $tocWidget.removeClass('toc-fixed');
                }
            });
            /* 修复文章卡片 div 的宽度. */
            let fixPostCardWidth = function (srcId, targetId) {
                let srcDiv = $('#' + srcId);
                if (srcDiv.length === 0) {
                    return;
                }
                let w = srcDiv.width();
                if (w >= 450) {
                    w = w + 21;
                } else if (w >= 350 && w < 450) {
                    w = w + 18;
                } else if (w >= 300 && w < 350) {
                    w = w + 16;
                } else {
                    w = w + 14;
                }
                $('#' + targetId).width(w);
            };

            // 切换TOC目录展开收缩的相关操作.
            const expandedClass = 'expanded';
            let $tocAside = $('#toc-aside');
            let $mainContent = $('#main-content');
            $tocAside.hide();
            $('#floating-toc-btn .btn-floating').click(function () {
                if ($tocAside.hasClass(expandedClass)) {
                    $tocAside.removeClass(expandedClass).hide();
                    $mainContent.removeClass('l9');
                } else {
                    $tocAside.addClass(expandedClass).show();
                    $mainContent.addClass('l9');
                }
                /* fixPostCardWidth('artDetail', 'prenext-posts'); */
            });
        });
    </script>
</main>
{{ end }}