{{ define "main" }}
<section class="section blog-single py-5">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-12">
                {{ with .Title }}
                <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
                {{ end }}
                {{ with .Params.description }}
                <p class="text-black-61 text-center pb-3">{{ . }}</p>
                {{ end }}
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 d-flex justify-content-center">
                <div class="blog-content fs-5">
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class="row pb-5">
        </div>
    </div>
</section>

<!-- 回到顶部按钮 -->
<div id="backTop" class="top-scroll">
    <a class="btn-floating btn-large waves-effect waves-light" href="">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
{{ end }}