<head>
    <!-- Title -->
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description"
        content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}" />

    <!-- 字体设置 -->
    <!-- <link rel="stylesheet" href="//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css"
        media="print" onload="this.media='all'"> -->

    <!-- 网站标签标题 -->
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>
    <!-- 网站标签图标 -->
    <link rel="icon" type="image/x-icon, image/vnd.microsoft.icon" href="/favicon.ico">
    <!-- <link rel="stylesheet" href="//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css"
        media="print" onload="this.media='all'"> -->
    <!-- 样式(路径默认是搜索static下的，不需要加上) -->
    <link rel="stylesheet" type="text/css" href="/css/lin.css">

    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>