<head>
    <!-- Title -->
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description"
        content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}" />

    <!-- 设置在浏览器标签上的logo -->
    <link rel="icon" type="image/x-icon, image/vnd.microsoft.icon" href="/favicon.ico">

    <!-- Stylesheets and Javascript -->
    {{ partial "head/_resources.html" . }}

    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <!-- 样式 -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/libs/awesome/css/all.css">
    <!-- 全局字体 -->
    <!-- <link rel="stylesheet" href="//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css"
        media="print" onload="this.media='all'"> -->
    <!-- 自定义样式 -->
    <link rel="stylesheet" type="text/css" href="/css/vanillalin.css">
    <link rel="stylesheet" type="text/css" href="/css/matery.css">

    <script src="/libs/jquery/jquery.min.js"></script>
</head>