{{ if or .Next .Prev }}
<div id="prenext-posts" class="prev-next articles">
    {{ if .PrevInSection }}
    <div class="article-badge left-badge text-color">
        <a href="{{ .PrevInSection.Permalink }}" class="fas fa-chevron-left">&nbsp;上一篇</a>
    </div>
    {{ else }}
    <div class="article-badge left-badge text-color">
        <i class="fas fa-star-and-crescent"></i>&nbsp;本篇(最新)
    </div>

    {{ end }}

    {{ if .NextInSection }}
    <div class="article-badge right-badge text-color">
        <a href="{{ .NextInSection.Permalink }}">下一篇&nbsp;<i class="fas fa-chevron-right"></i></a>
    </div>

    {{ else }}
    <div class="article-badge right-badge text-color">
        本篇(最早)&nbsp;<i class="fas fa-star-and-crescent"></i>
    </div>
    {{ end }}
</div>
{{ end }}